.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  font-family: "CabinetGrotesk-Medium";
  line-height: 20px;
  font-size: 16px;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-size: 16px;
  margin-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
}

.modal__close_form {
  background-image: url(../../assets/closegray.png);
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 440px;
  max-height: 436px;
  width: 100%;
  border-radius: 30px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__label_type_error {
  color: #ff4d00;
}

.modal__input {
  display: block;
  padding-top: 8px;
}

.modal__input_type_error {
  border-color: #ff4d00;
  color: #ff4d00;
}
.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__button-container {
  display: flex;
  gap: 12px;
  margin-top: 32px;
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  border-radius: 5px;
}

.modal__submit_enabled {
  background: black;
  color: white;
  cursor: pointer;
}

.modal__secondary-button {
  width: 124px;
  height: 36px;
  background: transparent;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.modal__error {
  color: #ff4d00;
  margin: 8px 0 0;
  font-size: 14px;
}
