.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  padding: 2px 12px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "CabinetGrotesk-Medium";
}

.card__image {
  width: 100%;
  border-radius: 30px;
}

.card__like-button {
  background-image: url("../../assets/heartunliked.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url("../../assets/heartliked.svg");
}
