.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.card__header {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
}

.card__name {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "CabinetGrotesk-Medium";
  background-color: white;
  padding: 2px 12px;
}

.card__image {
  width: 323px;
  height: 326px;
  border-radius: 30px;
}

.card__like-button {
  background-image: url("../../assets/heartunliked.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border: none;
  margin-left: 8px;
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url("../../assets/heartliked.svg");
}
